
/* PLAYLIST TITLE
   ============================= */

.playlist__title {

	position: relative;
	top: 10px;
	clear: both;
	
	display: block;
	margin: 0 0 10px 20px;

	font-size: 22px;
	color: #484848;

}