
/* PLAYLIST VIDEOS
   ============================= */

.playlist__videos {

	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;

	display: block;
	height: 137px;
	max-width: 100%;

	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;

}

.playlist__videos::-webkit-scrollbar {

	display: none;

}

.playlist__videos::-moz-scrollbar {

	display: none;

}