
/* PLAYLIST VIDEO
   ============================= */

.playlist__video {

	position: relative;

	display: inline-block;
	width: 240px;
	height: 120px;
	margin-left: -3px;

	@extend %background-cover;

}

.playlist__videos a {
	
	display: inline-block;
	padding: 0;
	margin: 0;

}

.playlist__video--playing:before {

	content: "";

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: block;

	background: rgba(0, 0, 0, .8);

}

.playlist__video--playing:after {

	content: "";

	position: relative;
	left: 50%;
	top: 50%;

	display: block;
	width: 22px;
	height: 30px;
	margin: auto;
	margin-left: -11px;
	margin-top: -15px;

	background-image: url(../img/play_icon_recomandations.png);
	background-repeat: no-repeat;

}