
/* BOTTOM HEADER
   ============================= */

.header .bottom {

	height: 44px;
	background-color: $nav_bottom_background;

	.inner {

		position: relative;
		max-width: 1000px;
		margin: auto;

	}

}