
/* SOCIAL MESSAGE FORM
   ============================= */

.social-message-form {

    width: 100%;
    padding: 0;
    margin: 0 0 25px 0; 

}

.social-message-form .form-header-container {

    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;

    background-color: #ececec;

}

.social-message-form .form-icn {

    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 4px;

    background-color: #bfbfbf;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    line-height: 40px;

    @include box-sizing;

}

.social-message-form button {

    float: right;

    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 2px;

    background-color:#40a6e0;
    border: 0;
    cursor: pointer;
    vertical-align: top;
    overflow: hidden;

    @include box-sizing;

}

.social-message-form .text {
    
    display: inline-block;
    margin: 12px;

    font-family: "Source Sans Pro", Arial;

}

.social-message-form textarea {

    width: 100%;
    height: 120px;
    padding: 10px;
    margin: 0;
    
    font-size: 14px;
    border: 0;
    background-color: #f4f4f4;
    resize: none;

    @include box-sizing;

}
