
/* CARD COMMENT
   ============================= */

.card.comment {

	a {

		display: block;
		padding: 20px;
		text-align: justify;
		border-bottom: none;
		color: $dark-grey;

		p {

			margin-top: 15px;
			font-size: 18px;

			@media (max-width: 800px) { margin-top: 5px; }
			@media (max-width: 720px) { margin-top: 0; }
			
			b { font-weight: bold; }

		}

		blockquote {

			margin-top: 22px;
			font-size: 20px;

			&:before {

				float: left;

				display: block;
				margin-top: 20px;
				margin-left: -5px;

				content: "“";
				font-size: 60px;
				line-height: 0;

			}

		}

	}

	i {

		position: absolute;
		bottom: 8px;
		right: 8px;

		font-size: 17px;
		font-style: italic;
		color: #a4a4a4;

	}

	@media all and (min-width: 640px) {

		&.multiple {

			@include transition(height 0.2s ease-in-out 0);

			&:hover {

				height: 400px;

				@include transition(height 0.5s ease-in-out 0.3s);

			}

		}

	}

}