
/* CARD VIDEO
   ============================= */

.card.video {

	position: relative;

	.thumbnail {

		position: relative;

		display: block;
		width: 100%;
		height: 74%;
		overflow: hidden;

		background-color: #e9e9e9;
		background-position: center;
		
		@extend %background-cover;

	}

}

.full-cards-list .card.video .thumbnail {

	height: 71%;

}

.card.video {

	.thumbnail {

		.time {

			position: relative;
			top: 10%;
			float: right;
			z-index: 4;

			display: block;
			padding: 8px 15px 8px 15px;

			background-color: #{"rgba(0, 0, 0, 0.7)"};
			color: white;
			line-height: 14px;
			font-size: 14px;

			@media (max-width: 750px) { display: none; }

		}
		
		.overlay {

			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;

			display: block;
			width: 100%;
			height: 100%;

			background: #{"rgba(0, 0, 0, 0.6)"};
			opacity: 0;
			
			@media (min-width: 640px) {

				@include transition(0.2s);

			}
			
			&:after {

				position: relative;
				left: 50%;
				top: 50%;

				display: block;
				width: 22px;
				height: 30px;
				margin: auto;
				margin-left: -11px;
				margin-top: -15px;

				content: "";
				background-image: url(../img/play_icon_recomandations.png);
				background-repeat: no-repeat;

				@media (min-width: 640px) {

					margin-left: -22px;

					@include transition(0.15s);

				}

			}
			
			&:hover {

				opacity: 1;
				
				&:after { margin-left: -11px; }

			}

		}

	}

	.description {

		line-height: 1;

		a {

			color: $dark-grey;

		}

		a h4 {

			height: 15px;
			margin: 10px 0 4px 13px;

			font-size: 14px;
			font-weight: bold;
			overflow: hidden;

			word-wrap: break-word;

		}

		div {

			position: absolute;
			bottom: 10px;
			left: 15px;
			right: 15px;

			font-size: 14px;

			.view {

				display: inline-block;
	
				&:before {

					display: inline-block;
					width: 12px;
					height: 8px;
					margin-right: 10px;
					
					content: "";
					background-image: url(../img/view_icon_recomandation.png);

				}

			}

			.channel {

				float: right;

				color: #40a6e0;
				border-bottom: 1px solid $blue;

			}

		}
	}

	&.long {

		height: 160px;

		.thumbnail {

			width: 50%;
			height: 100%;

		}

		.description {

			position: absolute;
			top: 0;
			left: 50%;
			
			width: 50%;
			height: 100%;

			a > h4 { font-size: 16px; }

			button {

				display: block;
				width: 90%;
				height: 35px;
				margin: 12px 0 5px 5%;

				border: none;
				color: white;
				cursor: pointer;

				background: #40a6e0;

				&:hover  { background: lighten(#40a6e0, 10%); }
				&:active { background:  darken(#40a6e0,  5%); }

				&:focus,
				&:active { outline: none; }

			}
			
			button.orange {

				background: #ff853d;

				&:hover  { background: lighten(#ff853d, 10%); }
				&:active { background:  darken(#ff853d,  5%); }

			}

			.visibility {

				display: block;
				margin: 15px 0 0 5%;
				color: #71726f;

				&[data-visibility="1"] { color: #fC7f3c; }
				&[data-visibility="2"] { color: #e70739; }

			}

			div {

				position: absolute;
				bottom: 10px;
				left: 5px;
				right: 5px;

				.plus,
				.moins {

					display: inline-block;
				
					&:before {

						display: inline-block;
						margin-left: 14px;
						margin-right: 2px;
						font-weight: bold;

					}

				}

				.plus:before  { content: "+"; }
				.moins:before { content: "-"; }
				
			}

		}

	}

}

.card--live::after {

	content: "";

	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 6;

	width: 14px;
	height: 14px;

	background-color: $red;

	@include border-radius;
	@include box-shadow(0px 0px 8px 0px $red);

}