
/* CARD PLUS
   ============================= */

.card.plus {

	a {

		display: block;
		border-bottom: none;
		color: $dark-grey;

		.thumbnail {

			position: absolute;
			top: 0;
			left: 0;

			display: block;
			width: 100%;
			height: 110px;

			background-color: #e9e9e9;
			background-position: center;
			
			@extend %background-cover;

		}

		p {

			padding-top: 15px;
			padding: 20px;
			margin-top: 100px;

			text-align: justify;
			font-size: 20px;
			line-height: 23px;
	
			b { font-weight: bold; }

		}

	}

	i {

		position: absolute;
		bottom: 8px;
		right: 8px;

		font-size: 17px;
		font-style: italic;
		color: #a4a4a4;
		
	}
}