
/* CARD CHANNEL
   ============================= */

.card.channel {

	a {

		display: block;
		border-bottom: none;
		color: $dark-grey;

		.avatar {

			position: absolute;
			top: 0;
			left: 0;

			display: block;
			width: 100%;
			height: 100px;

			background-color: #e9e9e9;
			background-position: center;
			
			@extend %background-cover;

		}

		p {

			padding: 20px;
			padding-top: 20px;
			margin-top: 96px;
			
			text-align: justify;
			font-size: 20px;
			line-height: 28px;
	
			b { font-weight: bold; }

		}

	}

	.subscriber {

		position: absolute;
		bottom: 15px;
		left: 15px;

		font-size: 18px;

		b { font-weight: bold; }

	}

	i {

		position: absolute;
		bottom: 8px;
		right: 8px;
		
		font-size: 17px;
		font-style: italic;
		color: #a4a4a4;

	}

	&.long {

		width: 95%;
		height: 160px;

		.avatar {

			width: 30%;
			height: 100%;

			@media (max-width: 1000px) { width: 50%; }
			@media (max-width:  400px) { width: 35%; }

		}

		.description {

			position: absolute;
			top: 0;
			left: 30%;

			width: 70%;
			height: 100%;

			@media (max-width: 1000px) {

				left: 50%;
				width: 50%;

			}

			@media (max-width:  400px) {

				left: 35%;
				width: 65%;

			}

			a > b {

				display: block;
				margin-left: 15px;
				margin-top: 15px;

				font-size: 16px;
				font-weight: bold;

			}

			button {

				float: left;

				display: block;
				width: 90%;
				max-width: 200px;
				height: 35px;
				margin: 15px 0 5px 15px;

				border: none;
				color: white;
				cursor: pointer;

				background: #40a6e0;

				&:hover  { background: lighten(#40a6e0, 10%); }
				&:active { background:  darken(#40a6e0,  5%); }

				&:focus,
				&:active { outline: none; }

			}

			button.red {

				background: #e70739;

				&:hover  { background: lighten(#e70739, 10%); }
				&:active { background:  darken(#e70739,  5%); }

			}

			.note,
			.principal {

				clear: both;
				position: relative;
				top: 10px;

				display: block;
				margin: 0 0 0 15px;
				color: #5e5e5e;

			}

			.principal {

				color: #e70739;

			}

			div {

				position: absolute;
				bottom: 10px;
				left: 5px;
				right: 5px;

				.plus,
				.moins {

					display: inline-block;
				
					&:before {

						display: inline-block;
						margin-left: 14px;
						margin-right: 2px;
						font-weight: bold;

					}

				}

				.plus:before  { content: "+"; }
				.moins:before { content: "-"; }
				
			}

		}

	}

}