
/* CARD
   ============================= */

.card {

	float: left;
	position: relative;

	overflow: hidden;
	width: 95%;
	height: 238px;
	padding: 0;
	margin: 0 auto 15px auto;

	color: #525252;
	background: #f1f0f0;

	@include box-shadow(1px 2px 0px #e2e2e2);

	a {

		color: #525252;

	}

}

.card--new {

	background: #ffe4d0;
	
}