
/* BACKGROUND COVER
   ============================= */

%background-cover {

	background-position: center!important;

	-webkit-background-size: cover!important;
	   -moz-background-size: cover!important;
		-ms-background-size: cover!important;
		 -o-background-size: cover!important;
			background-size: cover!important;
	
}