
/**
 * components/watch/video-infos/live-chat/input.scss
 * 
 * LIVE CHAT INPUT
 */

.live-chat__form {

	position: absolute;
	bottom: -25px;
	left: 4px;
	right: 0;

	height: 30px;

	border: 10px solid white;

}

.live-chat__form__input {

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	border: none;
	background: white;

}