
/**
 * components/watch/video-infos/live-chat/message.scss
 * 
 * LIVE CHAT MESSAGE
 */

.live-chat__message {

	clear: both;

	display: block;
	margin: 10px 0 5px 0;

}

.live-chat__message--error p {

	color: $red;

}

.live-chat__message--info p {

	color: $blue;

}

.live-chat__message__pseudo {

	float: left;

	margin: 6px 0 0 0;

	@include font-title(17px);
	@include font-bold;

}

.live-chat__message__pseudo--admin {

	color: $red;

}

.live-chat__message__pseudo--modo {

	color: $orange;

}

.live-chat__message p {

	clear: both;

	padding-top: 4px;

	@include font-title(16px);

}