
/* FOOTER
   ============================= */

html { background-color: #f1f0f0; }

body { background-color: white; }

.footer {

	position: relative;
	top: 10px;

	width: 100%;
	border-top: 1px solid #d1d1d1;

	background-color: #f1f0f0;

}