
/* FOOTER RIGHTS
   ============================= */

.footer .inner .rights {

	clear: both;

	display: block;
	margin-top: 20px;

	color: #848b90;

	.license > img {

		float: left;

		width: 80px;
		height: 15px;
		margin-right: 5px;

		background: black;
		opacity: 0.5;

		&:hover { opacity: 1; }

	}

	a {

		color: #848b90;
		text-decoration: underline;

		&:hover { text-decoration: none; }

	}

	.github { margin-left: 15px; }

}