
/* RIPPLE CIRCLE
   ============================= */

.ripple__circle {

	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 0;
	height: 0;

	background: inherit;

	@include border-radius(50%);
	@include prefix(transform, #{"scale(0)"});

}