
/* RAISED BTN
   ============================= */

.btn--raised {
	
	background-color: #e2e2e2;

	@include transition(#{".15s"});

	@include z-depht(1);
	
}

.btn--raised:hover,
.btn--raised:focus {

	outline: none;

	@include transition(#{".25s"});

	@include z-depht(2);

}

.btn--raised:hover {

	background-color: lighten(#e2e2e2, 2);

}

.btn--raised:active {

	background-color: #e2e2e2;

	@include transition(#{".2s"});

	@include z-depht(1);

}

@each $array in $colors {

	$_color-name: nth($array, 1);
	$_color-value: nth($array, 2);

	.btn--raised.btn--#{$_color-name} {

		background-color: $_color-value;

	}

	@if $_color-name != yellow {

		.btn--raised.btn--#{$_color-name} {

			color: white;

		}

		.btn--raised.btn--#{$_color-name} .ripple {

			background-color: white;

		}

	}

}

.btn--raised.disabled {
	
	color: $grey;
	background-color: $light-grey;

	@include z-depht(0);

}

.btn--raised.disabled:hover {
	
	@include z-depht(0);

}