
/**
 * components/bug/bug.scss
 * 
 * BUG
 */

.bug-beta-input {

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;

	height: 18px;
	padding: 8px;
	background: $red;
	cursor: text;

}

.bug-beta-input input[type="text"] {

	width: 100%;
	height: 100%;
	padding: 0;

	border: none;
	background: $red;
	color: white;
	font-family: sans-serif;
	font-size: 18px;

}

.bug-beta-input input[type="text"]::-webkit-input-placeholder {

	font-style: italic;
	font-size: 15px;
	color: white;

}

.bug-beta-input input[type="text"]::-moz-input-placeholder {

	font-style: italic;
	font-size: 15px;
	color: white;

}