
/* SHARE LIVE BLOCK
   ============================= */

.share-live-block:before {

    position: absolute;
    float: left;

    display: block;
    width: 4px;
    height: 100%;

    content: "";
    background: none repeat scroll 0% 0% #1E73BD;

}

.share-live-block {

	position: relative;
    bottom: 0px;
    z-index: 2;

	display: block;
	width: 100%;
    margin-bottom: 19px;
    margin-top: -19px;

    background: none repeat scroll 0% 0% #F1F0F0;
    overflow: hidden;

	@media (max-width: 1000px) {

    	margin: 0px auto;
    	width: 640px;

    }

    hr {

	    height: 0px;
	    margin: 0px 20px;

	    border-width: 0px 0px 1px;
	    border-style: none none solid;
	    border-color: -moz-use-text-color -moz-use-text-color #D9D9D9;
	    -moz-border-top-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    border-image: none;

	}

	.buttons {

    	padding: 15px 30px;
    	text-align: left;

	}

	.buttons * {

    	margin: 0px 15px;

	}

	.buttons img {

    	cursor: pointer;
    	transition: all 0.2s ease 0s;

	}

	.twitter-share-button,
	.fb-share-button {

		float: left;

		margin: 5px 0 15px 25px;

	}

	.twitter-share-button {
		
		margin-right: -15px;

	}

	.fb-share-button {

		margin-left: -15px;

	}

	.inner-export {

    	text-align: left;
	    font-size: 16px;
	    color: #959595;

	    max-height: 100%;
	    padding-right: 40px;
	    padding-left: 40px;
	    margin-top: 20px;
	    margin-bottom: 30px;

	    input[type="text"] {

		    width: 90%;
		    padding: 8px;
		    margin: auto;

		}
	}

}