
/* SHARE VIDEO BLOCK
   ============================= */

.share-video-block {

	display: none;

}

.share-video-block.show {

	float: right;

	display: block;
	width: 100%;

	.twitter-share-button,
	.fb-share-button {

		float: left;

		margin: 5px 0 15px 25px;

	}

	.twitter-share-button {
		
		margin-right: -15px;

	}

	.fb-share-button {

		margin-left: -15px;

	}

}