
/* TOP CENTER HEADER
   ============================= */

.header .top .inner .center {

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;

	z-index: 0;
	display: inline-block;
	text-align: center;

	@media (max-width: 450px) {

		position: absolute;
		top: 0;
		right: 0;

	}

}