
/* TOP LEFT HEADER
   ============================= */

.header .top .inner .left {

	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;

	z-index: 9999;

	a {

		position: absolute;
		left: 0;
		top: 0;

		display: block;
		height: 60px;
		width: 180px;

		cursor: pointer;

		.top-nav-icon-logo { 

			position: relative;
			z-index: 50;
			
			margin-top: 15px;

		}

		.top-nav-text-logo {

			position: relative;
			left: 15px;
			top: -4px;
			z-index: 50;

			height: 17px;

		}

		.top-nav-icon-logo {

			height: 27px;

		}

	}

}