
/* TOP HEADER
   ============================= */

.header .top {

	width: 100%;
	height: 60px;

	background-color: $nav_background;
	border-bottom: 1px solid $nav_shadow;

	@media (max-width: 700px) {

		a #top-nav-logo-text { display: none; }

	}

}

.header .top .inner {

	position: relative;

	max-width: 1000px;
	margin: auto;
	padding: 0;

}