
/* CAST BUTTON
   ============================= */

$cast-button-position: 16px;
$cast-button-size: 32px;

#player .cast {
	
	position: absolute;
	top: -42px; right: 8px;

	display: none;
	width: $cast-button-size; height: $cast-button-size;

	background: url(../img/cast/default.png);
	background-size: $cast-button-size $cast-button-size;
	cursor: pointer;

	@include transition(.1s);
	@include prefix(transform-origin, 50% 50%);
	@include prefix(transform, #{"scale(0.5, 0.5)"});

}

#player .cast.show { 

	display: block;

	@include transition(.2s);
	@include prefix(transform, #{"scale(1, 1)"});
		
}

#player #controls.down .cast { opacity: 0; }