
/**
 * components/player/live-offline.scss
 * 
 * LIVE OFFLINE IMAGE
 */

.live-offline {

	display: block;
	width: 640px!important;
	height: 360px - 1px!important;
	margin-top: 1px;

	@media (max-width: 640px) {

		width: 100%!important;
		height: 0!important;
		padding-top: 56.5%!important;

	}

}

.live-offline .live-offline__image {

	width: 100%;
	height: 100%;

	background: #4093C8;
	background-image: url(../img/live-offline.png);

	@extend %background-cover;

	@media (max-width: 640px) {

		height: 0;
		margin-top: -56.5%;
		padding-top: 56.5%;

	}

}