
/**
 * components/player/redirect-at-end.scss
 * 
 * REDIRECT AT END MESSAGE
 */

.video__redirect-at-end {

	position: absolute;
	top: 0;
	left: 0;

	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background: #{'rgba(0, 0, 0, 0.7)'};
	color: white;
	text-align: center;
	line-height: 2;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 24px;
	padding-top: 20%;

	@media (max-width: 450px) {
		
		padding-top: 15%;

	}

}

.video__redirect-at-end--show {

	display: block;

}

.video__redirect-at-end__cancel {

	cursor: pointer;

}