
/*------------------- UI des admins de chaines -------------------*/
.channel-admin {
	background-color: #dfdfdf;
	margin-bottom: 5px;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.delete-admin {
	float: right;
	margin: auto;
	padding: 12px;
	cursor: pointer;
}

.admin-avatar {
	height: 100%;
	width: 45px;
	height: 100%;
	float: left;
	display: block;
	margin-right: 10px;
}

#autocomplete {
	margin: 0;
	margin-bottom: 15px;
}

#autocomplete .channel-admin {
	margin: 0;
	background-color: white;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

#autocomplete .channel-admin:last-child {
	border: none;
}

#autocomplete .channel-admin:first-child {
	border-top: 1px solid #ccc;
}