
/* Style vidéo "suspendue"
-------------------------------------------------- */
#suspended-icn{
  width: 48%;
  height: 350px;
  padding-top: 10%;
  display: inline-block;
}
#cross{
  float: right;
  position: relative;
  top: 50px;
  right: 75px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cross .cross-bar{
  width: 275px;
  height: 50px;
  background-color: #40a6e0;
}
#cross #cross-bar-1{
  position: relative;
  top: 50px;
}
#cross #cross-bar-2{
  display: block;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#suspended-text{
  display: inline-block;
  width: 48%;
  overflow: hidden;
  vertical-align: top;
  padding-top: 10%;
}
#suspended-text h2{
  margin-top: 75px;
  font-size: 16px;
  color: #40a6e0;
}
#suspended-text h2 .video-name{
  font-weight: bold;
}
#suspended-text p{
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}
#suspended-text .channel-access p, #suspended-text .channel-access img, #suspended-text .channel-access div{
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
}
#suspended-text .channel-access{
  height: 45px;
  background-color: #f4f4f4;
  max-width: 500px;
}
#suspended-text .channel-access img{
  height: 25px;
  border-radius: 12.5px;
  margin-top: -25px;
  margin-left: 10px;
  margin-right: 10px;
}
#suspended-text .channel-access p{
  position: relative;
  top: -5px;
  font-style: normal;
}
#suspended-text .channel-access-btn{
  width: 45px;
  height: 45px;
  background-color: #40a6e0;
  float: right;
  line-height: 45px;
  text-align: center;
}

#suspended-text .channel-access-btn img{
  height: auto;
  margin-top: 0px;
}
@media (max-width: 800px) {
  #suspended-text{
    width: 59%;
  }
  #suspended-icn{
    width: 39%;
  }
  #cross{
    position: relative;
    top: 85px;
    right: 25px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cross .cross-bar{
    width: 175px;
    height: 30px;
    background-color: #40a6e0;
  }
  #cross #cross-bar-1{
    position: relative;
    top: 27px;
  }
  #cross #cross-bar-2{
    display: block;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media (max-width: 500px){
  #suspended-text{
    width: 100%;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;
  }
  #cross{
    float: none;
    position: relative;
    top: 50px;
  }
  #cross div{
    margin: auto;
  }
  #suspended-icn{
    width: 100%;
    display: block;
    height: 125px;
  }
}