
/* 404 ILLUSTRATION CLOUD
   ============================= */

.error-404 .illustration .cloud {

	position: relative;
	float: left;
	z-index: 50;
	
	width: 300px; 
	height: 100px;
	left: 75px;
	margin: 100px 30px 0 0;
	
	background-color: #40a6e0;
	border-radius: 20% 20% 20% / 50% 50%;
	line-height: 60px;
	text-align: center;
	font-size: 100px;
	color: white;

	@media (max-width: 1015px) {
		left: 25px;
		margin: 100px 30px 0 0;
	}

	@media (max-width: 350px) {
		width: 230px; 
		height: 80px;
		margin-top: 60px;
		
		font-size: 100px;
		line-height: 50px;
	}

	&:after, &:before {
		position: absolute;
		z-index: -1;

		content: "";
		background-color: #40a6e0;
	}
	&:after {
		top: -50%;
		left: 10%;

		width: 60%;
		height: 130%;

		border-radius: 90% 120% 0 100%;
	}
	&:before {
		top: -60%;
		right: 8%;

		width: 60%;
		height: 150%;

		border-radius: 90% 100% 50% 0;
	}
}