
/* 404 ILLUSTRATION RAIN
   ============================= */

.error-404 .illustration .rain {

	position: relative;
	top: -50px;
	left: 75px;
	float: left;
	clear: both;

	width: 300px;
	height: 300px;
	overflow: hidden;
	margin-right: 30px;

	@media (max-width: 1015px) { left: 25px; }

	@media (max-width: 350px) {

		width: 230px;
		height: 200px;

	}

	&:after {

		position: absolute;
		bottom: 0;

		display: block;
		width: 100%;
		height: 20px;

		content: "";

		@include box-shadow(inset 0px -10px 20px 0px white);

	}

}