
/* 404 ILLUSTRATION RAIN LI
   ============================= */

.error-404 .illustration .rain li {

	position: relative;
	top: -$rain-drop-404-size;

	display: inline-block;
	width: 2px;
	height: $rain-drop-404-size;

	background-color: #40a6e0;

	@include prefix(animation, rain-drop-404-animation 1.8s linear 0 infinite normal);

	&:nth-child(1) {

		left: 50%;

		@include prefix(animation-delay, 0);

	}

	&:nth-child(2) {

		left: 10%;

		@include prefix(animation-delay, 0.2s);

	}

	&:nth-child(3) {
		left: 70%;

		@include prefix(animation-delay, 0.4s);

	}

	&:nth-child(4) {

		left: 20%;
		
		@include prefix(animation-delay, 0.6s);
	
	}

	&:nth-child(5) {

		left: 80%;
		
		@include prefix(animation-delay, 0.8s);
	
	}

	&:nth-child(6) {

		left: 50%;
		
		@include prefix(animation-delay, 1.0s);
	
	}

	&:nth-child(7) {

		left: 10%;
		
		@include prefix(animation-delay, 1.2s);
	
	}

	&:nth-child(8) {

		left: 70%;
		
		@include prefix(animation-delay, 1.4s);
	
	}

	&:nth-child(9) {

		left: 20%;
		
		@include prefix(animation-delay, 1.6s);
	
	}

	&:nth-child(10) {

		left: 80%;
		
		@include prefix(animation-delay, 1.8s);
	
	}

}

@-webkit-keyframes rain-drop-404-animation {

	from { top: -$rain-drop-404-size; }
	to   { top: 100%; }

}

@-moz-keyframes rain-drop-404-animation {

	from { top: -$rain-drop-404-size; }
	to   { top: 100%; }

}

@keyframes rain-drop-404-animation {

	from { top: -$rain-drop-404-size; }
	to   { top: 100%; }

}