
/* COLUMN CARDS LIST
   ============================= */

.column-cards-list {

	min-height: 100px;
	float: right;

	display: inline-block;
	width: 30%;
	margin: auto;
	
	vertical-align: top;

	@media (max-width: 1015px) { width: 40%; }

	@media (max-width: 750px) {

		float: none;
		width: 100%;

	}

	h3 {

		margin-left: 5%;

		line-height: 90px;
		font-weight: normal;
		font-size: 18px;
		color: #858484;

		&:after {

			position: relative;
			bottom: 30px;

			display: block;
			height: 4px;
			width: 25px;
			border: none;
			
			background-color: #f1f0f0;
			content: "";

		}

	}

	.card {

		@media (max-width: 750px) {
			
			width: 45%;
			margin-left: 2.5%;
			margin-right: 2.5%;

		}

		@media (max-width: 430px) {

			width: 95%;
			margin-left: 2.5%;
			margin-right: 2.5%;

		}

	}
}