
/* FULL CARDS LIST
   ============================= */

.full-cards-list {

	clear: both;

	display: block;
	width: 100%;

	h3 {

		margin-left: 2%;

		font-weight: normal;
		font-size: 18px;
		line-height: 90px;
		color: #858484;

		&:after {

			position: relative;
			bottom: 30px;

			display: block;
			height: 4px;
			width: 25px;
			border: none;
			
			content: "";
			background-color: #f1f0f0;

		}

	}

	.card {

		float: left;
		clear: none;

		width: 30%;
		margin-left: 1%;
		margin-right: 1%;

		@media (max-width: 900px) {

			clear: none!important;
			width: 45%;
			margin-left: 2%;
			margin-right: 2%;

			&:nth-child(odd) { clear: both; }

		}

		@media (max-width: 550px) {

			clear: both;

			width: 95%;
			margin-left: 2%;
			margin-right: 2%;
		}

	}
	
}