
/* BACKGROUND LOADER
   ============================= */

.bg-loader { opacity: 0; }

.bg-loaded { opacity: 1; }

.bg-loader-transition {

	will-change: opacity;

	-webkit-transition: opacity .2s ease-out;
	   -moz-transition: opacity .2s ease-out;
		-ms-transition: opacity .2s ease-out;
		 -o-transition: opacity .2s ease-out;
			transition: opacity .2s ease-out;

}