
/* RESET
   ============================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;

	border: 0;
	font-weight: inherit;

}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active { outline: none; }

h1, h2, h3, h4, h5, h6 {

	margin: 0;
	padding: 0;
	
}

html { line-height: 1; }

ol, ul { list-style: none; }

table {

	border-collapse: collapse;
	border-spacing: 0;

}

caption, th, td {

	text-align: left;
	font-weight: normal;
	vertical-align: middle;

}

q, blockquote { quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {

	content: "";
	content: none;

}

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* { @include prefix(overflow-scrolling, touch); }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { @include prefix(appearance, none); }

input[type="search"] { @include prefix(appearance, textfield); }

a { text-decoration: none; }